# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'context-menu':
#   'atom-text-editor': [
#     {
#       'label': 'Toggle generate-test'
#       'command': 'generate-test:toggle'
#     }
#   ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'generate-test'
      'submenu': [
        {
          'label': 'Generate'
          'command': 'generate-test:generate'
        }
      ]
    ]
  }
]
